# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
env/
ENV/
.venv/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / Editor Files
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db
